[submodule "dependencies/lekiwi_labs"]
	path = dependencies/lekiwi_labs
	url = https://github.com/DuyKhongCay/lerobot-lekiwi-labs.git
[submodule "dependencies/lerobot"]
	path = dependencies/lerobot
	url = https://github.com/huggingface/lerobot.git