<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lekiwi">
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="hardware_type" default="mock"/>
  <xacro:arg name="usb_port" default="/dev/lekiwi_serial"/>
  <xacro:arg name="joint_config_file" default=""/>
  <xacro:arg name="add_transmissions" default="false"/>

  <!-- Keep the CAD-generated kinematic model separate from control metadata. -->
  <xacro:include filename="$(find lekiwi_description)/urdf/duykhongcay_lekiwi.urdf"/>
  <xacro:include filename="$(find lekiwi_description)/urdf/xacro_macros.xacro"/>

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:lekiwi_ros2_control
      hardware_type="$(arg hardware_type)"
      usb_port="$(arg usb_port)"
      joint_config_file="$(arg joint_config_file)"/>
  </xacro:if>

  <xacro:if value="$(arg add_transmissions)">
    <xacro:simple_transmission joint_name="arm_shoulder_pan"/>
    <xacro:simple_transmission joint_name="arm_shoulder_lift"/>
    <xacro:simple_transmission joint_name="arm_elbow_flex"/>
    <xacro:simple_transmission joint_name="arm_wrist_flex"/>
    <xacro:simple_transmission joint_name="arm_wrist_roll"/>
    <xacro:simple_transmission joint_name="arm_gripper"/>
    <xacro:simple_transmission joint_name="base_left_wheel"/>
    <xacro:simple_transmission joint_name="base_back_wheel"/>
    <xacro:simple_transmission joint_name="base_right_wheel"/>
  </xacro:if>
</robot>
