<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Macro to apply hand-eye extrinsics calibration from YAML or calibrated defaults -->
  <xacro:macro name="stereo_camera_calibration" params="calib_file:=''">
    <xacro:if value="${calib_file != ''}">
      <xacro:property name="calib_dict" value="${xacro.load_yaml(calib_file)}"/>
      <xacro:property name="stereo_left_xyz" value="${calib_dict['transform']['translation']['x']} ${calib_dict['transform']['translation']['y']} ${calib_dict['transform']['translation']['z']}"/>
      <xacro:property name="stereo_left_rpy" value="${calib_dict['metrics']['rotation_rpy_deg'][0] * 3.141592653589793 / 180.0} ${calib_dict['metrics']['rotation_rpy_deg'][1] * 3.141592653589793 / 180.0} ${calib_dict['metrics']['rotation_rpy_deg'][2] * 3.141592653589793 / 180.0}"/>
    </xacro:if>
    <xacro:unless value="${calib_file != ''}">
      <!-- Default calibrated values from Hand-Eye Park solver (2026-09-06) -->
      <xacro:property name="stereo_left_xyz" value="-0.041920 0.034605 0.411475"/>
      <xacro:property name="stereo_left_rpy" value="-2.392200 0.013614 -1.566144"/>
    </xacro:unless>

    <!-- Calibrated optical frame joint connecting base_footprint to stereo_left_optical -->
    <joint name="stereo_left_optical_calibrated_joint" type="fixed">
      <origin xyz="${stereo_left_xyz}" rpy="${stereo_left_rpy}"/>
      <parent link="base_footprint"/>
      <child link="stereo_left_optical"/>
    </joint>
  </xacro:macro>
</robot>
